*{
    box-sizing: border-box;
    font-family: 'Roboto Slab';
}

body{
    background-image: linear-gradient(to bottom, #dce1d4, white);
    background: url(./milad-fakurian-UiiHVEyxtyA-unsplash.jpg) center fixed;
    background: url(./sharon-mccutcheon-NkQD-RHhbvY-unsplash.jpg) center fixed;
    background: url(./alt_background.jpg) center fixed;
    background-size: 100vw;
    height: 100vh;
}

/* Login Page */

.auth{
    font-size: 1.2rem;
}

.authBtn{
    border: .1px solid rgb(53, 142, 63);
    padding: .6rem 2rem;
    border-radius: 5px; 
    box-shadow: 5px 5px 10px;
    background: rgb(53, 142, 63);
}

.authBtn:hover{
    background-color:rgb(24, 94, 24);
    cursor: pointer; 
    transition: ease-in;
    transition-duration: 1s;
}

.authBtn > a{
    color: white; 
    text-decoration: none;
}

.title_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 13rem;
    color: white;
}

.splash_title{
    display: flex;
    position: relative;
}

.splash_title > h1{
    font-size: 5rem;
    margin-bottom: .1rem;
    /* -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: white; */
}

@keyframes bounce {
    25%   { transform: scale(1,1) translateY(0); }
    35%  { transform: scale(1.1,.9) translateY(0); }
    55%  { transform: scale(.9,1.1)   translateY(-40px);}
    63%  { transform: scale(1.05,.95) translateY(0); }
    71%  { transform: scale(1,1) translateY(-7px); }
    78%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
    /* 0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-25px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-7px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);} */
}

.w {
    animation: bounce 2s ease ;
  }
.e1 {
    animation: bounce 2s ease  .1s;
  }
.a {
    animation: bounce 2s ease  .2s;
  }
.t {
    animation: bounce 2s ease  .2s;
  }
.h {
    animation: bounce 2s ease  .4s;
  }
.e {
    animation: bounce 2s ease  .5s;
  }
.r {
    animation: bounce 2s ease  .6s;
  }
.i {
    animation: bounce 2s ease  .7s;
  }
.f {
    animation: bounce 2s ease  .8s;
  }
.y {
    animation: bounce 2s ease  .9s;
  }

  /* .power_container{
    display: flex;
    position: relative;
    justify-content: center;
    gap: .1rem;
    font-size: .8rem;
  } */

.splash_info{
    color:lightgrey;
    width: 55vw;
    font-size: 1rem;
    text-align: center;
    line-height: 1rem;
}

.splash_info > h2{
    font-weight: 1000;
    line-height: 1.3rem;
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.loginFooter{
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
}

.title_logo_search{
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1.3rem;
}

.login_container{
    margin: 0 auto;
    position: absolute;
    bottom: 10%;
    text-align: center;
}

/* Navbar*/

/* old nav bar */
/* 
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.nav-bar > a {
    color: rgb(50, 48, 48);
    text-decoration: none;
}

.nav-bar > a:hover{
    opacity: 50%;
    cursor: pointer;
} */

/* .nav-bar{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
} */

.nav-bar_container{
    width:100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.nav_title{
    color: white;
    font-size: .8rem;
    margin-right: 1.5rem;
}

.nav_items > a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.nav-bar > a {
    color: rgb(50, 48, 48);
    text-decoration: none;
}

.nav-bar > a:hover{
    opacity: 50%;
    cursor: pointer;
}

/* Search/Home Page */

.content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.search_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.search_container_subheader{
    line-height: .5;
    text-align: center; 
    margin-bottom: 1.5rem;
    color: white;
}

.search_container_subheader > h2{
    font-size: 2rem;
    -webkit-animation: fadein 2s;
}

.search_container_subheader > h5{
    -webkit-animation: fadein 3s;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.searchbtn_container{
    display: flex;
}

#forecast_container{
    height: auto;
    width: auto;
    display: flex; 
    flex-direction: row;
    flex-basis: 1;
    gap: 10px;
    margin: 2rem 1rem;
}

#track_container{
    max-width: 850px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: 3px solid black;
    padding: 1rem;
    border-radius: 25px;
    background-color: #e9e2e4b8;
    box-shadow: 0, 1px, 1px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    margin-top: 2rem;
}

#track_rec{
    font-size: 2rem;
    margin: 0 auto;
}

#searchBar{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: .5rem;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    height: 100%;
}

#searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    color: teal;
    /* width: 120px;
    margin: 1rem auto;
    margin-top: 2rem; */
    font-size: 1.2rem;
    color: rgb(28, 26, 26);
    border: 1px solid black;
    /* transition: all 1s ease-in; */
    border-radius: 5px;
    background: rgba(255,255,255,.8);
} 

#submit{
    padding: .4rem .8rem;
    border-radius: 5px;
    width: 80px; 
    margin: 1rem auto; 
    font-size: 1rem;
    color: rgb(238, 228, 228);
    background: rgb(25, 25, 230);
}

#searchBtn:hover{
    background: rgb(53, 142, 63);
    transition: ease-in-out;
    transition-duration: .5s;
    transform: scale(1.1);
    cursor: pointer;
}

/* #reset{
    padding: .4rem 1rem;
    width: 90px;
    margin: 1rem auto;
    font-size: 1.5rem;
    color: rgb(28, 26, 26);
    transition: all 2s ease-out;
    border: 1px solid black;
    border-radius: 25px;
    background-color: transparent;
}

#reset:hover{
    background: rgb(215, 72, 20);
    cursor: pointer;
} */

#genres{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .9rem;
    width: 500px;
    margin-top: 1.2rem;
    font-weight: 700;
}

#genres > div{
    border: 2px solid black;
    padding: 5px 10px;
    font-size: .8rem;
    
}

#genre_id:hover{
    transform: scale(1.2);
    transition: ease-in-out;
    transition-duration: .2s;
}

.genreBackground{
    background: rgb(58, 55, 55,.8);
}

#genre_id:hover{
    cursor: pointer;
    /* background:rgb(58, 55, 55,.3); */
}

#forecast_title{
    height: 5vh;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding-top: .5rem;
    color: white;
}

.weatherCard{
    display: flex;
    flex-direction: column;
    transition: ease-in .5s;
    width: 60px;
    z-index: 1;
}

.weatherCard:hover{
    transform: scale(1.1);
}

.dailyImg{
    border-radius: 10px;
    border: 2px solid black;
    z-index: -1;
}

.dailyName{
    font-size: 1.3rem;
    color: white;
}

.dailyTemp{
    font-size: 2rem;
    margin-top: -.4rem;
}

.weatherCard:hover{
    opacity: 50%;
    cursor: pointer;
}

#instructions{
    color:white;
    visibility: hidden;
    margin: 0 auto;
}

#albumArt{
    height: 100px;
    width: 100px; 
    border-radius: 10px;
}

.songContainer{
    width: 100px;
    word-wrap: wrap;
    text-align: center; 
    animation: fadeIn 2s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.songContainer > a {
    text-decoration: none;
}

.songArtist{
    word-wrap: wrap;
}

.favoritesBtn{
    font-size: 1.2rem;
    color: rgb(58, 55, 55);
}

.favoritesBtn:hover{
    cursor: pointer;
}


/* Loader Animation */

#loader{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear ;
    position: absolute;
    margin-top: 20rem;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}

/* Playlist */

#playlist{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: 5rem; */
}

#playlist > h2{
    color: white;
}

/* Media Queries */

@media only screen and (max-width: 800px){

    #forecast_container{
        width: 390px;
        display: flex;
        justify-content: center;
    }

    .weatherCard{
        width: 40px;
    }

    #genres{
        width: 390px;
    }

    #track_container{
        width: 390px;
    }
}

@media only screen and (min-width: 800px){
    .title_container{
        font-size: 1.2rem;
    }

    #playlist{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px){
    .title_container{
        font-size: 1.5rem;
    }

    .search_container{
        font-size: 1.5rem;
    }

    #playlist{
        font-size: 24px;
    }

    .login_container{
        bottom: 15%;
    }


    .authBtn > a{
        font-size: 1.6rem;
    }
}

.swiper {
    width: 600px;
    height: 300px;
  }

  .swiper-slide {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }