        <!-- <div>
            <h1>Weatherify <i class="fa-brands fa-spotify"></i></h1>
        </div>
        <div class="nav-bar">
            <a href = '/search'><b>Home</b></a>
            <a href = '/playlist'><b>Playlist</b></a>
            <a href = '/'><b>Log Out</b></a>
        </div> -->
        <div class="nav-bar_container">
            <div class="nav_title">
                <h1>Weatherify <i class="fa-brands fa-spotify"></i></h1>
            </div>
            <div class="nav_items">
                <a href = '/search'><b>Home</b></a>
                <a href = '/playlist'><b>Playlist</b></a>
                <a href = '/'><b>Log Out</b></a>
            </div>
        </div>
