    <div class="title_container">
        <div>
            <h1>Weatherify <i class="fa-brands fa-spotify"></i></h1>
        </div>
        <div class="nav-bar">
            <a href = '/search'><b>Home</b></a>
            <a href = '/playlist'><b>Playlist</b></a>
            <a href = '/'><b>Log Out</b></a>
        </div>
    </div>
    <hr>