 <%- include('./partials/meta') -%>
 <style>
    body{
      background: url('../public/static/alphacolor-66JMudIjDTw-unsplash.jpg') center fixed;
      background-size: cover;
      width: 100%;
      position: fixed;
    }
</style>
<body>

    <div class = 'title_container'>
        <div class = 'splash_title'>
            <h1>Weatherify <i class="fa-brands fa-spotify"></i></h1>
        </div>
        <div class = 'splash_info'>
            <h2> Playlists created for you based on the weather forecast</h2>
            <h2>Powered by Spotify</h2>
        </div>  
        <div class="login_container">
            <button class = 'authBtn'><a href= '/authorize' class ='auth'>Login to Spotify</a></button>
            <div class="loginFooter">
                Created by Jeff L. ©2022
            </div>
        </div>
    </div>
    
</body>
</html>