<%- include('./partials/meta') -%>
<body>

    <%- include('./partials/header') -%>
     
     <div class="content_container">
         <div id="search_container">
             <div class="search_container">
                <div class = 'search_container_subheader'>
                    <h2>Hi, <%= user.display_name %>!</h2>
                    <h5> Enter your zip code & select up to 3 genres to get started</h5>
                </div>
                <form id = 'form_container'>
                    <label for = 'search bar'></label>
                    <div class = 'searchbtn_container'>
                        <input type = 'text' placeholder = 'Enter Zip' id ='searchBar'></input>
                        <button type = 'submit' id = 'searchBtn'><i class="fa-solid fa-magnifying-glass mag"></i></button>
                    </div>
                </form>
                    
                <div id = 'genres'>
                    <div class="rap" id = "genre_id">Rap</div>
                    <div class="country" id = "genre_id">Country</div>
                    <div class="classical" id = "genre_id">Classical</div>
                    <div class="electronic" id = "genre_id">Electronic</div>
                    <div class = "pop" id = "genre_id">Pop</div>
                    <div class="indie" id = "genre_id">Indie</div>
                    <div class="jazz" id = "genre_id">Jazz</div>
                    <div class="alternative" id = "genre_id">Alternative</div>
                    <div class="blueGrass" id = "genre_id">Blue Grass</div>
                    <div class="reggae" id = "genre_id">Reggae</div>
                    <div class="opera" id = "genre_id">Opera</div>
                </div>                
                
            </div>
        </div>
        <div id="loader"></div>
        
        
        
        <h5 id ='instructions'> Click any weather card (directly below the image) to generate an associated playlist.</h5>
        <div id = 'forecast_title'></div>
         <div id = 'forecast_container'></div>
         <h5 id = 'track_rec'>  Track Recommendations</h5>
         <div id = 'track_container'></div>
         <div id = 'reset'>
            </div>
     </div>
     
        <%- include('./partials/script') -%>

</body>
</html>

